<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-8 text-center font-italic border border-secondary mt-5">
      <p class="m-2 description">ReelReviews is a social media platform for keeping track of and sharing reviews on movies you have watched. Simply log-in using the Log In/Sign Up buttons in the top right hand-corner, and get reviewing!</p>
      <p class="mt-2"><em style="font-size: 20px;">"Elementary, my dear Watson"</em></p>
      <p><em style="font-size: 10px">-Sherlock Holmes</em></p>
    </div>
    <div class="col">
    </div>
  </div>
</div>